{% extends 'emergency response team/ui.html' %}
{% block body %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-warning text-white text-center">
      <h4>Edit Emergency Request Status</h4>
    </div>
    <div class="card-body">
      <form
        id="form1"
        name="form1"
        method="post"
        action="/emergency_response_edit_emergency_request_status_post"
      >
        <div class="row mb-3">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              value="{{ ob.PUBLIC.name }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="district" class="col-sm-3 col-form-label">District</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="district"
              class="form-control"
              name="district"
              value="{{ ob.PUBLIC.district }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="place" class="col-sm-3 col-form-label">Place</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="place"
              class="form-control"
              name="place"
              value="{{ ob.PUBLIC.place }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="post" class="col-sm-3 col-form-label">Post</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="post"
              class="form-control"
              name="post"
              value="{{ ob.PUBLIC.post }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="pin" class="col-sm-3 col-form-label">PIN</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="pin"
              class="form-control"
              name="pin"
              value="{{ ob.PUBLIC.pin }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="contactNo" class="col-sm-3 col-form-label">Contact No</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="contactNo"
              class="form-control"
              name="contactno"
              value="{{ ob.PUBLIC.contactNo }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="email"
              class="form-control"
              name="email"
              value="{{ ob.PUBLIC.email }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="request" class="col-sm-3 col-form-label">Emergency Request</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="request"
              class="form-control"
              name="request"
              value="{{ ob.request }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="date" class="col-sm-3 col-form-label">Date</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="date"
              class="form-control"
              name="date"
              value="{{ ob.date }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="time" class="col-sm-3 col-form-label">Time</label>
          <div class="col-sm-9">
            <input
              type="text"
              id="time"
              class="form-control"
              name="time"
              value="{{ ob.time }}"
              disabled
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="status" class="col-sm-3 col-form-label">Status</label>
          <div class="col-sm-9">
            <select id="status" name="status" class="form-select">
              <option value="{{ ob.status }}" selected>{{ ob.status }}</option>
              <option value="PENDING">PENDING</option>
              <option value="ON THE WAY">ON THE WAY</option>
              <option value="RESOLVED">RESOLVED</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <button type="submit" name="Submit" class="btn btn-success w-50">
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% comment %} {% extends 'emergency response team/ui.html' %}
{% block body %}
  <body>
    <form
      id="form1"
      name="form1"
      method="post"
      action="/emergency_response_edit_emergency_request_status_post"
    >
      <table border="1">
        <tr>
          <td>NAME</td>
          <td>
            <input
              type="text"
              name="name"
              value="{{ ob.PUBLIC.name }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>DISTRICT</td>
          <td>
            <input
              type="text"
              name="district"
              value="{{ ob.PUBLIC.district }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>PLACE</td>
          <td>
            <input
              type="text"
              name="place"
              value="{{ ob.PUBLIC.place }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>POST</td>
          <td>
            <input
              type="text"
              name="post"
              value="{{ ob.PUBLIC.post }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>PIN</td>
          <td>
            <input
              type="text"
              name="pin"
              value="{{ ob.PUBLIC.pin }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>CONTACT NO</td>
          <td>
            <input
              type="text"
              name="contactno"
              value="{{ ob.PUBLIC.contactNo }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>EMAIL</td>
          <td>
            <input
              type="text"
              name="email"
              value="{{ ob.PUBLIC.email }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>EMERGENCY REQUEST</td>
          <td>
            <input
              type="text"
              name="request"
              value="{{ ob.request }}"
              disabled
            />
          </td>
        </tr>
        <tr>
          <td>DATE</td>
          <td>
            <input type="text" name="date" value="{{ ob.date }}" disabled />
          </td>
        </tr>
        <tr>
          <td>TIME</td>
          <td>
            <input type="text" name="time" value="{{ ob.time }}" disabled />
          </td>
        </tr>
        <tr>
          <td>STATUS</td>
          <td>
            <select name="status">
              <option value="{{ob.status}}" selected>{{ ob.status }}</option>
              <option value="PENDING">PENDING</option>
              <option value="ON THE WAY">ON THE WAY</option>
              <option value="RESOLVED">RESOLVED</option>
            </select>
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="Submit" value="UPDATE" />
          </td>
        </tr>
      </table>
    </form>
  </body>
  {% endblock %} {% endcomment %}
