<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/admin_add_guideline_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="244" border="1">
    <tr>
      <td>CAMP</td>
      <td><label>
        <select name="camp">
             {% for i in data %}
                <option value="{{ i.id }}">{{ i.CAMP.campName }} --{{ i.name }}</option>
            {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>GUIDELINE</td>
      <td><label>
        <input type="file" name="guideline" />
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
