<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
  </head>

  <body>
    <form id="form1" name="form1" method="post" action="admin_add_camp_post">
      <table border="1">
        <tr>
          <td>CAMP NAME</td>
          <td>
            <label>
                <input type="text" name="camp" />
            </label>
          </td>
        </tr>
        <tr>
          <td>DISTRICT</td>
          <td>
            <label>
                <input type="text" name="district" />
            </label>
          </td>
        </tr>
        <tr>
          <td>PLACE</td>
          <td>
            <label>
                <input type="text" name="place" />
            </label>
          </td>
        </tr>
        <tr>
          <td>POST</td>
          <td>
            <label>
                <input type="text" name="post" />
            </label>
          </td>
        </tr>
        <tr>
          <td>PIN</td>
          <td>
            <label>
                <input type="text" name="pin" />
            </label>
          </td>
        </tr>
        <tr>
          <td>CONTACT No.</td>
          <td>
            <label>
                <input type="text" name="contactno" />
            </label>
          </td>
        </tr>
        <tr>
          <td>EMAIL</td>
          <td>
            <label>
                <input type="text" name="email" />
            </label>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label>
                <input type="submit" name="Submit" value="ADD" />
            </label>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
