{% extends 'admin/ui.html' %}
{% block body %}
<div class="container mt-4">
  <h2 class="text-center mb-4">Add Camp Coordinator</h2>
  <form
    action="admin_add_camp_coordinator_post"
    method="post"
    enctype="multipart/form-data"
    name="form1"
    id="form1"
  >
    <div class="row mb-3">
      <label for="camp" class="col-sm-2 col-form-label">Camp</label>
      <div class="col-sm-10">
        <select class="form-select" name="camp" id="camp" required>
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.campName }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          pattern="[A-Z a-z.]{3,25}"
        />
      </div>
    </div>

    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="Male"
            checked
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            value="Female"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
    </fieldset>

    <div class="row mb-3">
      <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
      <div class="col-sm-10">
        <input
          type="date"
          class="form-control"
          name="dob"
          id="dob"
          required
          min="1965-01-01"
          max="2007-12-31"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="contactNo" class="col-sm-2 col-form-label">Contact No</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="contactNo"
          id="contactNo"
          required
          pattern="[6789][0-9]{9}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="email" required />
      </div>
    </div>

    <div class="row mb-3">
      <label for="district" class="col-sm-2 col-form-label">District</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="district"
          id="district"
          required
          pattern="[A-Z a-z.]{3,25}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="place" class="col-sm-2 col-form-label">Place</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="place"
          id="place"
          required
          pattern="[A-Z a-z.]{3,25}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="post" class="col-sm-2 col-form-label">Post</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="post"
          id="post"
          required
          pattern="[A-Z a-z.]{3,25}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="pin" class="col-sm-2 col-form-label">PIN</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="pin"
          id="pin"
          required
          pattern="[0-9]{6}"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          required
          pattern="[a-zA-Z0-9]{5,15}"
          title="Username should be 5-15 characters long and contain only letters and numbers."
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        />
      </div>
    </div>

    <div class="row mb-3">
      <label for="photo" class="col-sm-2 col-form-label">Photo</label>
      <div class="col-sm-10">
        {% if ob.photo %}
        <img
          src="{{ ob.photo.url }}"
          class="img-thumbnail mb-2"
          style="height: 100px; width: auto"
          alt="Current Photo"
        />
        {% endif %}
        <input
          type="file"
          class="form-control"
          name="photo"
          id="photo"
          required
          accept=".jpg, .jpeg, .png, .gif"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}


{% comment %} {% extends 'admin/ui.html' %}
{% block body %}
  <body>
    <form
      action="admin_add_camp_coordinator_post"
      method="post"
      enctype="multipart/form-data"
      name="form1"
      id="form1"
    >
      <table border="1">
        <tr>
          <td>CAMP</td>
          <td>
            <select name="camp" size="1">
              {% for i in data %}
              <option value="{{ i.id }}">{{ i.campName }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        <tr>
          <td>NAME</td>
          <td>
            <input
              type="text"
              name="name"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>

        <tr>
          <td>GENDER</td>
          <td>
            <input name="gender" type="radio" value="Male" checked />
            MALE
            <input name="gender" type="radio" value="Female" />
            FEMALE
          </td>
        </tr>

        <tr>
          <td>DATE OF BIRTH</td>
          <td>
            <input
              type="date"
              name="dob"
              required
              min="1965-01-01"
              max="2007-12-31"
            />
          </td>
        </tr>

        <tr>
          <td>CONTACT NO</td>
          <td>
            <input
              type="text"
              name="contactNo"
              required
              pattern="[6789][0-9]{9}"
            />
          </td>
        </tr>
        <tr>
          <td>EMAIL</td>
          <td>
            <input type="email" name="email" required />
          </td>
        </tr>
        <tr>
          <td>DISTRICT</td>
          <td>
            <input
              type="text"
              name="district"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>PLACE</td>
          <td>
            <input
              type="text"
              name="place"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>POST</td>
          <td>
            <input
              type="text"
              name="post"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>PIN</td>
          <td>
            <input type="text" name="pin" required pattern="[0-9]{6}" />
          </td>
        </tr>
        <tr>
          <td>USERNAME</td>
          <td>
            <input
              type="text"
              name="username"
              required
              pattern="[a-zA-Z0-9]{5,15}"
              title="Username should be 5-15 characters long and contain only letters and numbers."
            />
          </td>
        </tr>
        <tr>
          <td>PASSWORD</td>
          <td>
            <input
              type="password"
              name="password"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            />
          </td>
        </tr>
        <tr>
          <td>PHOTO</td>
          <td>
            <img
              src="{{ ob.photo.url }}"
              style="height: 100px; width: auto"
              alt=""
            />
            <input
              type="file"
              name="photo"
              required
              accept=".jpg, .jpeg, .png, .gif"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="Submit" value="ADD" />
          </td>
        </tr>
      </table>
    </form>
  </body>
  {% endblock %} {% endcomment %}