<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Untitled Document</title>
</head>

<body>
  <form id="form1" name="form1" method="post" action="">
    <table width="200" border="1">
      <tr>
        <td><a href="admin_add_camp_coordinator">ADD CAMP COORDINATOR </a></td>
      </tr>
      <tr>
        <td><a href="admin_manage_camp_coordinator">VIEW CAMP COORDINATOR </a></td>
      </tr>
      <tr>
        <td><a href="admin_add_camp">ADD CAMP </a></td>
      </tr>
      <tr>
        <td><a href="admin_view_camp">VIEW CAMP </a></td>
      </tr>
      <tr>
        <td><a href="admin_add_guideline">ADD GUIDELINES</a></td>
      </tr>
      <tr>
        <td><a href="admin_view_guideline">VIEW GUIDELINES</a></td>
      </tr>
      <tr>
        <td><a href="admin_view_camplaint">VIEW COMPLAINT </a></td>
      </tr>
      <tr>
        <td><a href="admin_verify_emergency_team">VIEW EMERGENCY RESPONSE TEAM </a></td>
      </tr>
      <tr>
        <td><a href="admin_add_notification">NOTIFICATION</a></td>
      </tr>
    </table>
  </form>
</body>

</html>