{% extends 'admin/ui.html' %}
{% block body %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Edit Notification
    </div>
    <div class="card-body">
      <form
        id="form1"
        name="form1"
        method="post"
        action="/admin_edit_notification_post"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            value="{{ ob.title }}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input
            type="text"
            id="subject"
            name="subject"
            class="form-control"
            value="{{ ob.subject }}"
            required
          />
        </div>
        <button type="submit" name="Submit" class="btn btn-primary">Edit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% comment %} {% extends 'admin/ui.html' %}
{% block body %}
  <body>
    <form
      id="form1"
      name="form1"
      method="post"
      action="/admin_edit_notification_post"
    >
      <table border="1">
        <tr>
          <td>TITLE</td>
          <td>
            <input type="text" name="title" value="{{ ob.title }}" required />
          </td>
        </tr>
        <tr>
          <td>SUBJECT</td>
          <td>
            <input
              type="text"
              name="subject"
              value="{{ ob.subject }}"
              required
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="Submit" value="EDIT" />
          </td>
        </tr>
      </table>
    </form>
  </body>
  {% endblock %} {% endcomment %}
