<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
  </head>

  <body>
    <form
      action="/admin_edit_camp_coordinator_post"
      method="post"
      enctype="multipart/form-data"
      name="form1"
      id="form1"
    >
      <table border="1">
        <tr>
          <td>CAMP</td>
          <td>
            <label>
              <select name="camp" size="1">
                {% for i in camp %}
                    <option value="{{ i.id }}" {% if i.id == ob.CAMP.id %} selected {% endif %}> {{ i.campName }} </option>
                {% endfor %}
            </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>NAME</td>
          <td>
            <label>
              <input type="text" name="name" value="{{ ob.name }}"/>
            </label>          
          </td>
        </tr>

        <tr>
          <td>GENDER</td>
          <td><label>
            <input name="gender" type="radio" value="Male" {% if ob.gender == "Male" %}checked{% endif %}/>
          MALE
          <input name="gender" type="radio" value="Female" {% if ob.gender == "Female" %}checked{% endif %} />
          FEMALE</label></td>
        </tr>
    

        <tr>
          <td>DATE OF BIRTH</td>
          <td>
            <label>
              <input type="date" name="dob" value="{{ ob.dob }}" />
            </label> 
           </td>
        </tr>

        <tr>
          <td>CONTACT NO</td>
          <td>
            <label>
              <input type="text" name="contactNo" value="{{ ob.contactNo }}"/>
            </label>          </td>
        </tr>
        <tr>
          <td>EMAIL</td>
          <td>
            <label>
              <input type="text" name="email" value="{{ ob.email }}" />
            </label>          </td>
        </tr>
        <tr>
          <td>DISTRICT</td>
          <td>
            <label>
              <input type="text" name="district" value="{{ ob.district }}" />
            </label>          </td>
        </tr>
        <tr>
          <td>PLACE</td>
          <td>
            <label>
              <input type="text" name="place" value="{{ ob.place }}"/>
            </label>          </td>
        </tr>
        <tr>
          <td>POST</td>
          <td>
            <label>
              <input type="text" name="post" value="{{ ob.post }}" />
            </label>          </td>
        </tr>
        <tr>
          <td>PIN</td>
          <td>
            <label>
              <input type="text" name="pin"  value="{{ ob.pin }}"/>
            </label>          </td>
        </tr>
        <tr>
          <td colspan="2">
            <label>
              <div align="center">
                <input type="submit" name="Submit" value="EDIT" />
              </div>
            </label>          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
