<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="admin_search_camp_coordinator">
  <table border="1">
    <tr>
      <td colspan="13"><label>
        <input type="text" name="textfield" placeholder="Search by name" />
        <input type="submit" name="Submit" value="SEARCH" />
      </label></td>
    </tr>
    <tr>
      <td>CAMP</td>
      <td>NAME</td>
      <td>GENDER</td>
      <td>DOB</td>
      <td>CONTACT NO </td>
      <td>EMAIL</td>
      <td>DISTRICT</td>
      <td>PLACE</td>
      <td>POST</td>
      <td>PIN</td>
      <td>PHOTO</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val%}
    <tr>
      <td>{{ i.CAMP.campName }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.gender }}</td>
      <td>{{ i.dob }}</td>
      <td>{{ i.contactNo }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.district }}</td>
      <td>{{ i.place }}</td>
      <td>{{ i.post }}</td>
      <td>{{ i.pin }}</td>
      <td><img src="{{ i.photo.url }}" style="height: 100px;width: auto" alt="" /></td>
      <td><a href="/admin_edit_camp_coordinator/{{ i.id }}">EDIT</a></td>
      <td><a href="/admin_delete_camp_coordinator/{{ i.LOGIN.id }}">DELETE</a></td>
    </tr>
    {% endfor %}
  </table>
  <p><a href="/admin_add_camp_coordinator">ADD CAMP COORDINATOR </a></p>
</form>
</body>
</html>
