<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>MANAGE NOTIFICATION - CRISIS GUARD</title>
  </head>

  <body>
    <form
      id="form1"
      name="form1"
      method="post"
      action="/admin_search_notification"
    >
      <table border="1">
        <tr>
          <td colspan="7">
            FROM :
            <input type="date" name="textfield1" />
            TO:
            <input type="date" name="textfield2" />

            <input type="submit" name="Submit3" value="SEARCH" />
          </td>
        </tr>
        <tr>
          <td>SNo.</td>
          <td>TITLE</td>
          <td>SUBJECT</td>
          <td>DATE</td>
          <td>TIME</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          {% for i in val %}
          <td>{{ forloop.counter }}</td>
          <td>{{ i.title }}</td>
          <td>{{ i.subject }}</td>
          <td>&nbsp;{{ i.date }}</td>
          <td>{{ i.time }}</td>
          <td><a href="/admin_delete_notification/{{ i.id }}">DELETE</a></td>
          <td><a href="/admin_edit_notification/{{ i.id }}">EDIT</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/admin_add_notification">ADD NOTIFICATION </a></p>
    </form>
  </body>
</html>
