<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>MANAGE GUIDELINE - CRISIS GUARD</title>
  </head>

  <body>
    <form id="form1" name="form1" method="post" action="admin_search_guideline">
      <table border="1">
        <tr>
          <td colspan="5">
            <input
              type="text"
              name="textfield"
              placeholder="Search by Camp Coordinator"
            />
            <input type="submit" name="Submit" value="SEARCH" />
          </td>
        </tr>
        <tr>
          <td>CAMP COORDINATOR</td>
          <td>GUIDELINE</td>
          <td>DATE</td>
          <td>TIME</td>
          <td>&nbsp;</td>
        </tr>
        {% for i in val %}
        <tr>
          <td>{{ i.CAMP_COORDINATOR.name }}</td>
          <td><a href="{{ i.guideline.url}}" download>{{ i.guideline}}</a></td>
          <td>{{ i.date }}</td>
          <td>{{ i.time }}</td>
          <td><a href="/admin_delete_guideline/{{ i.id }}">DELETE</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/admin_add_guideline">ADD GUIDELINE </a></p>
    </form>
  </body>
</html>
