{% extends 'admin/ui.html' %}
{% block body %}
<div class="container mt-5">
  <form
    id="form1"
    name="form1"
    method="post"
    action="/admin_search_verify_emergency_team"
    class="mb-3"
  >
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="textfield"
        placeholder="Search by district"
        aria-label="Search by district"
        required
      />
      <button class="btn btn-primary" type="submit" name="Submit">SEARCH</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">DEPARTMENT</th>
          <th scope="col">DISTRICT</th>
          <th scope="col">PLACE</th>
          <th scope="col">POST</th>
          <th scope="col">PIN</th>
          <th scope="col">CONTACT NO</th>
          <th scope="col">EMAIL</th>
          <th scope="col">ACCEPT</th>
          <th scope="col">REJECT</th>
        </tr>
      </thead>
      <tbody>
        {% for i in val %}
        <tr>
          <td>{{ i.department }}</td>
          <td>{{ i.district }}</td>
          <td>{{ i.place }}</td>
          <td>{{ i.post }}</td>
          <td>{{ i.pin }}</td>
          <td>{{ i.ContactNo }}</td>
          <td>{{ i.email }}</td>
          <td>
            <a href="/admin_accept_ERT/{{ i.LOGIN.id }}" class="btn btn-success btn-sm">ACCEPT</a>
          </td>
          <td>
            <a href="/admin_reject_ERT/{{ i.LOGIN.id }}" class="btn btn-danger btn-sm">REJECT</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mt-3">
    <a href="/admin_manage_emergency_team" class="btn btn-secondary">MANAGE EMERGENCY TEAM</a>
  </div>
</div>

{% endblock %}


{% comment %} {% extends 'admin/ui.html' %}
{% block body %}
  <body>
    <form
      id="form1"
      name="form1"
      method="post"
      action="/admin_search_verify_emergency_team"
    >
      <table border="1">
        <tr>
          <td colspan="13">
            <input
              type="text"
              name="textfield"
              placeholder="Search by district"
            />
            <input type="submit" name="Submit" value="SEARCH" />
          </td>
        </tr>
        <tr>
          <td>DEPARTMENT</td>
          <td>DISTRICT</td>
          <td>PLACE</td>
          <td>POST</td>
          <td>PIN</td>
          <td>CONTACT NO</td>
          <td>EMAIL</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          {% for i in val %}
          <td>{{ i.department }}</td>
          <td>{{ i.district }}</td>
          <td>{{ i.place }}</td>
          <td>{{ i.post }}</td>
          <td>{{ i.pin }}</td>
          <td>{{ i.ContactNo }}</td>
          <td>{{ i.email }}</td>
          <td><a href="/admin_accept_ERT/{{ i.LOGIN.id }}">ACCEPT</a></td>
          <td><a href="/admin_reject_ERT/{{ i.LOGIN.id }}">REJECT</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/admin_manage_emergency_team">MANAGE EMERGENCY TEAM </a></p>
    </form>
  </body>
  {% endblock %} {% endcomment %}
