<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="search_ERT">
  <table width="200" border="1">
    <tr>
      <td colspan="7"><label>
        <input type="text" name="textfield" />
      </label>
        <label>
        <input type="submit" name="Submit" value="SEARCH" />
      </label></td>
      <td></td>
    </tr>
    <tr>
        <td>DEPARTMENT</td>
        <td>DISTRICT</td>
        <td>PLACE</td>
        <td>POST</td>
        <td>PIN</td>
        <td>CONTACT NO</td>
        <td>EMAIL</td>
        <td></td>
    </tr>
    <tr>
        {% for i  in val %}
            <td>{{ i.department }}</td>
            <td>&nbsp;{{ i.district }}</td>
            <td>{{ i.place }}</td>
            <td>&nbsp;{{ i.post }}</td>
            <td>{{ i.pin }}</td>
            <td>&nbsp;{{ i.ContactNo }}</td>
            <td>{{ i.email }}</td>
            <td><a href="/admin_accept_ERT/{{ i.LOGIN.id }}">Accept</a>
                <a href="/admin_reject_ERT/{{ i.LOGIN.id }}">Reject</a> </td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
