<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="search_camp">
  <table width="200" border="1">
    <tr>
      <td colspan="4"><label>
        <input type="text" name="textfield" />
        <input name="SEARCH" type="submit" id="SEARCH" value="SEARCH" />
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>CAMP NAME </td>
      <td>DISTRICT</td>
      <td>PLACE</td>
      <td>POST</td>
      <td>PIN</td>
    </tr>
    {% for i in val %}
  <tr>
    <td>{{ i.campName}}</td>
    <td>&nbsp;{{ i.district }}</td>
    <td>&nbsp;{{ i.place }}</td>
    <td>{{ i.post }}</td>
    <td>{{ i.pin }}</td>
    <td><a href="/admin_delete_camp/{{ i.id }}">DELETE</a></td>
    <td><a href="/admin_edit_camp/{{ i.id }}">EDIT</a></td>
  </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
