<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="coordinator_add_volunteer_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <td>NAME</td>
      <td><label>
        <input type="text" name="name" />
      </label></td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td><label>
      <input name="gender" type="radio" value="Male" />
      MALE
      <input name="gender" type="radio" value="Female" />
      FEMALE</label></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><label>
        <input type="text" name="dob" required/>
      </label></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><label>
        <input type="text" name="district" />
      </label></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><label>
        <input type="text" name="place" />
      </label></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><label>
        <input type="text" name="post" />
      </label></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label>
        <input type="text" name="pin" />
      </label></td>
    </tr>
    <tr>
      <td>CONTACT NO </td>
      <td><label>
        <input type="text" name="ContactNo" />
      </label></td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td><label>
        <input type="text" name="email" />
      </label></td>
    </tr>
    <tr>
      <td>PHOTO</td>
      <td><label>
        <input type="file" name="file" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="ADD" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
