<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="coordinator_add_stock_post">
  <table border="1">
    <tr>
      <td>CATEGORY</td>
      <td><label>
        <input type="text" name="category" />
      </label></td>
    </tr>
    <tr>
      <td>PRODUCT</td>
      <td><label>
        <input type="text" name="product" />
      </label></td>
    </tr>
    <tr>
      <td>QUANTITY</td>
      <td><label>
        <input type="text" name="quantity" />
      </label></td>
    </tr>
        <tr>
      <td>DATE</td>
      <td><label>
        <input type="date" name="date" />
      </label></td>
    </tr>
      <td colspan="2"><label>
        <input type="submit" name="Submit" value="Submit" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
