<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Untitled Document</title>
</head>

<body>
  <form id="form1" name="form1" method="post" action="">
    <table width="236" border="1">
      <tr>
        <td width="226"><a href="/coordinator_add_stock">ADD STOCK</a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_add_member">MEMBER REGISTRATION </a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_view_members">VIEW MEMBERS </a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_register_missing_asset">REGISTER MISSING ASSET </a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_view_missing_asset_registration">VIEW MISSING ASSET REGISTRATION </a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_add_needs">ADD NEEDS </a></td>
      </tr>
      <tr>
        <td><a href="/coordinator_view_needs">VIEW NEEDS </a></td>
      </tr>
      <tr>
        <td><a href="../CAMP COORDINATOR/VIEW MEDICAL REQUEST.html">MEDICAL SUPPORT REQUEST </a></td>
      </tr>
      <tr>
        <td><a href="coordinator_add_volunteer">VOLUNTEER REGISTRATION </a></td>
      </tr>
    </table>
  </form>
</body>

</html>