{% extends 'camp coordinator/ui.html' %}
{% block body %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h4>Search Volunteers</h4>
    </div>
    <div class="card-body">
      <!-- Search Form -->
      <form
        id="form1"
        name="form1"
        method="post"
        action="coordinator_search_volunteer"
        class="mb-4"
      >
        <div class="row">
          <div class="col-md-10">
            <input
              type="text"
              name="name"
              class="form-control"
              placeholder="Search by volunteer name"
            />
          </div>
          <div class="col-md-2">
            <button type="submit" name="Submit" class="btn btn-primary w-100">
              SEARCH
            </button>
          </div>
        </div>
      </form>

      <!-- Volunteer Table -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th>SNo.</th>
              <th>CAMP NAME</th>
              <th>NAME</th>
              <th>GENDER</th>
              <th>DOB</th>
              <th>DISTRICT</th>
              <th>PLACE</th>
              <th>POST</th>
              <th>PIN</th>
              <th>CONTACTNO</th>
              <th>EMAIL</th>
              <th>PHOTO</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            {% for i in val %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.COORDINATOR.CAMP.campName }}</td>
              <td>{{ i.name }}</td>
              <td>{{ i.gender }}</td>
              <td>{{ i.dob }}</td>
              <td>{{ i.district }}</td>
              <td>{{ i.place }}</td>
              <td>{{ i.post }}</td>
              <td>{{ i.pin }}</td>
              <td>{{ i.contactNo }}</td>
              <td>{{ i.email }}</td>
              <td>
                <img
                  src="{{ i.photo.url }}"
                  class="img-fluid"
                  style="height: 100px; width: auto"
                  alt="Volunteer Photo"
                />
              </td>
              <td>
                <div class="d-flex gap-2">
                  <a
                    href="/coordinator_edit_volunteer/{{ i.id }}"
                    class="btn btn-warning btn-sm"
                  >
                    EDIT
                  </a>
                  <a
                    href="/coordinator_delete_volunteer/{{ i.id }}"
                    class="btn btn-danger btn-sm"
                  >
                    DELETE
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Add Volunteer Link -->
      <div class="text-center mt-3">
        <a href="/coordinator_volunteer_registration" class="btn btn-success">
          ADD VOLUNTEER
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'camp coordinator/ui.html' %}
{% block body %}
  <body>
    <form id="form1" name="form1" method="post" action="coordinator_search_volunteer">
      <table border="1">
        <tr>
          <td colspan="14">
            <input
              type="text"
              name="name"
              placeholder="Search by volunteer name"
            />
            <input type="submit" name="Submit" value="SEARCH" />
          </td>
        </tr>
        <tr>
          <td>SNo.</td>
          <td>CAMP NAME</td>
          <td>NAME</td>
          <td>GENDER</td>
          <td>DOB</td>
          <td>DISTRICT</td>
          <td>PLACE</td>
          <td>POST</td>
          <td>PIN</td>
          <td>CONTACTNO</td>
          <td>EMAIL</td>
          <td>PHOTO</td>
          <td colspan="2"></td>
        </tr>
        {% for i in val %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{i.COORDINATOR.CAMP.campName}}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.gender }}</td>
          <td>{{ i.dob }}</td>
          <td>{{ i.district }}</td>
          <td>{{ i.place}}</td>
          <td>{{ i.post}}</td>
          <td>{{ i.pin}}</td>
          <td>{{ i.contactNo}}</td>
          <td>{{ i.email}}</td>
          <td>
            <img
              src="{{ i.photo.url }}"
              style="height: 100px; width: auto"
              alt=""
            />
          </td>
          <td><a href="/coordinator_edit_volunteer/{{ i.id }}">EDIT</a></td>
          <td><a href="/coordinator_delete_volunteer/{{ i.id }}">DELETE</a></td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/coordinator_volunteer_registration">ADD VOLUNTEER </a></p>
    </form>
  </body>
  {% endblock %}  {% endcomment %}
