<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>VOLUNTEER REGISTRATION - CRISIS GUARD</title>
  </head>

  <body>
    <form
      action="coordinator_volunteer_registration_post"
      method="post"
      enctype="multipart/form-data"
      name="form1"
      id="form1"
    >
      <table border="1">
        <tr>
          <td>NAME</td>
          <td>
            <input
              type="text"
              name="name"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>

        <tr>
          <td>GENDER</td>
          <td>
            <input name="gender" type="radio" value="Male" checked />
            MALE
            <input name="gender" type="radio" value="Female" />
            FEMALE
          </td>
        </tr>

        <tr>
          <td>DATE OF BIRTH</td>
          <td>
            <input
              type="date"
              name="dob"
              required
              min="1965-01-01"
              max="2007-12-31"
            />
          </td>
        </tr>

        <tr>
          <td>CONTACT NO</td>
          <td>
            <input
              type="text"
              name="contactNo"
              required
              pattern="[6789][0-9]{9}"
            />
          </td>
        </tr>

        <tr>
          <td>EMAIL</td>
          <td>
            <input type="email" name="email" required />
          </td>
        </tr>
        <tr>
          <td>DISTRICT</td>
          <td>
            <input
              type="text"
              name="district"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>PLACE</td>
          <td>
            <input
              type="text"
              name="place"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>POST</td>
          <td>
            <input
              type="text"
              name="post"
              required
              pattern="[A-Z a-z.]{3,25}"
            />
          </td>
        </tr>
        <tr>
          <td>PIN</td>
          <td>
            <input type="text" name="pin" required pattern="[0-9]{6}" />
          </td>
        </tr>
        <tr>
          <td>USERNAME</td>
          <td>
            <input
              type="text"
              name="username"
              required
              pattern="[a-zA-Z0-9]{5,15}"
              title="Username should be 5-15 characters long and contain only letters and numbers."
            />
          </td>
        </tr>
        <tr>
          <td>PASSWORD</td>
          <td>
            <input
              type="password"
              name="password"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            />
          </td>
        </tr>
        <tr>
          <td>PHOTO</td>
          <td>
            <img
              src="{{ ob.photo.url }}"
              style="height: 100px; width: auto"
              alt=""
            />
            <input
              type="file"
              name="photo"
              required
              accept=".jpg, .jpeg, .png, .gif"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="Submit" value="ADD" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
