<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>EMERGENCY RESPONESE TEAM REGISTRATION STATUS - CRISIS GUARD</title>
  </head>

  <body>
    <form
      id="form1"
      name="form1"
      method="post"
      action="search_emergency_team_status"
    >
      <table border="1">
        <tr>
          <td colspan="9">
            <input
              type="text"
              name="textfield"
              placeholder="Search by district"
            />
            <input type="submit" name="Submit" value="SEARCH" />
          </td>
        </tr>
        <tr>
          <td>SNo</td>
          <td>DEPARTMENT</td>
          <td>DISTRICT</td>
          <td>PLACE</td>
          <td>POST</td>
          <td>PIN</td>
          <td>CONTACT NO</td>
          <td>EMAIL</td>
          <td>STATUS</td>
        </tr>
        <tr>
          {% for i in val %}
          <td>{{ forloop.counter }}</td>
          <td>{{ i.department }}</td>
          <td>{{ i.district }}</td>
          <td>{{ i.place }}</td>
          <td>{{ i.post }}</td>
          <td>{{ i.pin }}</td>
          <td>{{ i.ContactNo }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.LOGIN.type }}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </body>
</html>
