<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>LOGIN - CRISIS GUARD</title>
  </head>

  <body>
    <form id="form1" name="form1" method="post" action="/login_post">
      <table border="1">
        <tr>
          <td>USERNAME</td>
          <td>
            <input
              type="text"
              name="textfield"
              required
              pattern="[a-zA-Z0-9]{5,15}"
              title="Username should be 5-15 characters long and contain only letters and numbers."
            />
          </td>
        </tr>
        <tr>
          <td>PASSWORD</td>
          <td>
            <input
              type="password"
              name="textfield2"
              required
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Must contain at least one number  and one uppercase and lowercase letter, and at least 8 or more characters"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="Submit" value="Login" />
          </td>
        </tr>
      </table>
      <p>
        <a href="/register_emergency_response_team"
          >REGISTER AS EMERGENCY RESPONCE TEAM
        </a>
      </p>
      <p>
        <a href="/ert_registration_status"
          >EMERGENCY RESPONSE TEAM REGISTRATION STATUS
        </a>
      </p>
    </form>
  </body>
</html>
